<div class="rw-menu">
  <h3>A. Platillos</h3>
  <ul>
    <li *ngFor="let dish of dishes; let i = index">
      <span class="status" [class.available]="dish.available"></span>
      {{ i }}: {{ dish.name }}
    </li>
  </ul>
  <hr />
  <h3>B. Platillos</h3>
  <ul>
    <li *ngFor="let dish of dishes; let i = index">
      <!-- <span class="status" [ngClass]="{ available: dish.available }"></span> -->
      <span class="status" [ngClass]="getClass(dish)"></span>
      {{ dish.available }} - {{ i }}: {{ dish.name }}
    </li>
  </ul>
</div>
