<div class="rw-menu">
  <h3>Platillos</h3>
  <h4>{{ today | date: "d MMMM y - hh:mm" | uppercase }}</h4>
  <hr />
  <ul>
    <li *ngFor="let dish of dishes; let i = index">
      <span class="status" [class.available]="dish.available"></span>
      {{ i }}: {{ dish.name }}:
      {{ dish.price | currency: "S./ ":"symbol":"4.1-5" }}
      <br />
      -→ {{ dish.photo?.length || 0 }}
      <img
        [src]="dish.photo ? dish.photo : 'https://via.placeholder.com/100'"
        width="100"
      />
    </li>
  </ul>
</div>
