.rw-root {
  background-color: gainsboro;
  padding: 1rem;

  h1 {
    padding: 1rem;
    text-transform: capitalize;
    margin: 2rem;
    cursor: pointer;
  }

  .taste {
    font-size: 4rem;
  }
}
